In [71]:
import pandas as pd
import numpy as np

In [72]:
df = pd.read_csv('shop data.csv')

In [73]:
df

      age  income  gender m_status buys
0     <25    high    male   single   no
1     <25    high    male  married   no
2   25-35    high    male   single  yes
3     >35  medium    male   single  yes
4     >35     low  female   single  yes
5     >35     low  female   single   no
6   25-35     low  female  married  yes
7     <25  medium    male  married   no
8     <25     low  female   single  yes
9     >35  medium  female  married  yes
10    <25  medium  female   single  yes
11  25-35  medium    male  married  yes
12  25-35    high  female   single  yes
13    >35  medium    male  married   no
14    <25    high    male   single   no

In [74]:
df['income'].unique()

array(['high', 'medium', 'low'], dtype=object)

In [75]:
income_order = ['low', 'medium', 'high']

# Ordinal Encoder

In [76]:
from sklearn.preprocessing import OrdinalEncoder

In [77]:
enco = OrdinalEncoder(categories=[income_order])

In [78]:
enco.fit(df[['income']])

OrdinalEncoder(categories=[['low', 'medium', 'high']])

In [79]:
final = pd.DataFrame(enco.transform(df[['income']]))

In [80]:
df['income'] = final

In [81]:
df

      age  income  gender m_status buys
0     <25     2.0    male   single   no
1     <25     2.0    male  married   no
2   25-35     2.0    male   single  yes
3     >35     1.0    male   single  yes
4     >35     0.0  female   single  yes
5     >35     0.0  female   single   no
6   25-35     0.0  female  married  yes
7     <25     1.0    male  married   no
8     <25     0.0  female   single  yes
9     >35     1.0  female  married  yes
10    <25     1.0  female   single  yes
11  25-35     1.0    male  married  yes
12  25-35     2.0  female   single  yes
13    >35     1.0    male  married   no
14    <25     2.0    male   single   no

# Label Encoder

In [82]:
from sklearn.preprocessing import LabelEncoder

In [83]:
le = LabelEncoder()

In [84]:
df['age'] = le.fit_transform(df['age'])

In [85]:
df

    age  income  gender m_status buys
0     1     2.0    male   single   no
1     1     2.0    male  married   no
2     0     2.0    male   single  yes
3     2     1.0    male   single  yes
4     2     0.0  female   single  yes
5     2     0.0  female   single   no
6     0     0.0  female  married  yes
7     1     1.0    male  married   no
8     1     0.0  female   single  yes
9     2     1.0  female  married  yes
10    1     1.0  female   single  yes
11    0     1.0    male  married  yes
12    0     2.0  female   single  yes
13    2     1.0    male  married   no
14    1     2.0    male   single   no