In [3]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
df = pd.read_csv('marital status.csv')

In [5]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [6]:
df.isnull().sum()

age       0
status    1
dtype: int64

In [9]:
handle = df['status'].median()

In [10]:
handle

0.0

In [11]:
df.status = df.status.fillna(handle)

In [13]:
df.isnull().sum()

age       0
status    0
dtype: int64

In [14]:
df.status.value_counts()

0.0    11
1.0     9
Name: status, dtype: int64

# seperate x and y

In [16]:
x = df[['age']]
y = df['status']

In [17]:
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [18]:
y

0     0.0
1     1.0
2     0.0
3     1.0
4     0.0
5     1.0
6     0.0
7     0.0
8     1.0
9     0.0
10    1.0
11    0.0
12    0.0
13    0.0
14    1.0
15    1.0
16    0.0
17    0.0
18    1.0
19    1.0
Name: status, dtype: float64

# tarin and test split

In [20]:
from sklearn.model_selection import train_test_split

In [23]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=.30, random_state=1)

In [24]:
xtest

    age
3    28
16   16
6    23
10   26
2    24
14   34

# Logitec Regression

In [26]:
from sklearn.linear_model import LogisticRegression

In [27]:
lr = LogisticRegression()

In [28]:
lr.fit(xtrain,ytrain)

LogisticRegression()

In [31]:
lr.predict(xtest)

array([1., 0., 0., 0., 0., 1.])

In [30]:
ytest

3     1.0
16    0.0
6     0.0
10    1.0
2     0.0
14    1.0
Name: status, dtype: float64

In [32]:
lr.score(xtest,ytest)

0.8333333333333334

In [33]:
lr.predict_proba(xtest)

array([[0.28697051, 0.71302949],
       [0.9902967 , 0.0097033 ],
       [0.80161052, 0.19838948],
       [0.50311753, 0.49688247],
       [0.71810555, 0.28189445],
       [0.02465085, 0.97534915]])