In [25]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('shop data.csv')

In [4]:
df.head(5)

     age  income  gender m_status buys
0    <25    high    male   single   no
1    <25    high    male  married   no
2  25-35    high    male   single  yes
3    >35  medium    male   single  yes
4    >35     low  female   single  yes

In [7]:
x = df.iloc[:,:-1]

In [8]:
x

      age  income  gender m_status
0     <25    high    male   single
1     <25    high    male  married
2   25-35    high    male   single
3     >35  medium    male   single
4     >35     low  female   single
5     >35     low  female   single
6   25-35     low  female  married
7     <25  medium    male  married
8     <25     low  female   single
9     >35  medium  female  married
10    <25  medium  female   single
11  25-35  medium    male  married
12  25-35    high  female   single
13    >35  medium    male  married
14    <25    high    male   single

In [9]:
y = df.iloc[:,4]

In [10]:
y

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
14     no
Name: buys, dtype: object

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
Le_x = LabelEncoder()

In [15]:
x = x.apply(Le_x.fit_transform)

In [16]:
x

    age  income  gender  m_status
0     1       0       1         1
1     1       0       1         0
2     0       0       1         1
3     2       2       1         1
4     2       1       0         1
5     2       1       0         1
6     0       1       0         0
7     1       2       1         0
8     1       1       0         1
9     2       2       0         0
10    1       2       0         1
11    0       2       1         0
12    0       0       0         1
13    2       2       1         0
14    1       0       1         1

In [17]:
from sklearn.tree import DecisionTreeClassifier

In [18]:
dtf = DecisionTreeClassifier()

In [23]:
dtf.fit(x.iloc[:,0:4],y)

DecisionTreeClassifier()

In [26]:
xinput = np.array([1,1,0,0])

In [27]:
y_predict = dtf.predict([xinput])

In [28]:
y_predict

array(['yes'], dtype=object)