In [8]:
# importing library
import numpy as np
import pandas as pd
from sklearn import linear_model

In [9]:
df = pd.read_csv('car data.csv')

In [10]:
df

   speed  car_age  experiance  risk
0     20       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [11]:
#  for median of experiance
exp_fit = df.experiance.median()

In [12]:
# for null value fill
df.experiance = df.experiance.fillna(exp_fit)

In [13]:
print (df.experiance)

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experiance, dtype: float64

In [14]:
x = df[['speed', 'car_age', 'experiance']]
y = df['risk']

In [15]:
x

   speed  car_age  experiance
0     20       15         5.0
1     90       17        13.0
2    165       12         4.0
3    110       20         5.0
4    140        5         3.0
5    115        2         8.0

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=.30, random_state=1)

In [18]:
xtrain

   speed  car_age  experiance
4    140        5         3.0
0     20       15         5.0
3    110       20         5.0
5    115        2         8.0

In [19]:
xtest

   speed  car_age  experiance
2    165       12         4.0
1     90       17        13.0

In [21]:
reg = linear_model.LinearRegression()

In [22]:
reg.fit(xtrain, ytrain)

LinearRegression()

In [24]:
reg.predict(xtest)

array([ 59.69319641, -60.70603338])

In [25]:
print(ytest)

2    93
1    20
Name: risk, dtype: int64

In [26]:
accuracy = reg.score(xtest,ytest)
print(accuracy*100, '%')

-186.0877083498083 %

In [27]:
reg.coef_

array([-0.01374367,  1.73880145, -8.62757169])

In [28]:
reg.intercept_

93.86479530963929

In [30]:
y = (-0.01374367*160)+(1.73880145*10)+(-8.62757169*5) + 93.86479530963929
print(y)

65.91596415963929